<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Station</title>
    <link rel="stylesheet" href="static/styles/days.css">
</head>

<body>
    <div id="app">
        <div id="header">
            <ul id="nav">
                <li>
                    <a href="">
                        <img src="static/images/homepage.png"
                            alt="Weather">
                    </a>
                </li>
                <li><a href="/home" class="home_page">Trang Chủ</a></li>
                <li><a href="/hours" class="hours">Theo Giờ</a></li>
                <li><a href="/days" class="days">Theo Ngày</a></li>
            </ul>
        </div>
        <div id="content">
            <!-- About section -->
            <div class="box">
                <div class="address">Thời tiết 7 ngày tiếp theo - Hà Nội
                    <div id="current_date" class="day_time"></div>
                </div>
                {% for data in days_data %}
                <table class="table1">
                    <!-- hàng 1 - bảng 1-->
                    <tr>
                        <td>
                            <div class="weather">
                                <img src="{{ url_for('static', filename=data['weather_image_url']) }}" alt="">
                                <div class="hour_time"> {{data['day']}} ngày tiếp theo
                                    <p class="predict_weather">{{data['condition']}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="rain">
                                <p id="next_date">{{data['time'].strftime('%d/%m/%Y')}}</p>
                            </div>
                        </td>
                        <td>
                            <div class="temperature">
                                <span class="value">{{data['temperature']|float|round(1)}}</span><span><sup>o</sup>C </span>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class ="table2">
                    <!-- hàng 1 - bảng 2 -->
                    <tr>
                        <td>
                            <div class="icon">
                                <img src="static/images/wind.png" alt="">
                            </div>
                            <div class="attribute">
                                <div>
                                    <span class="wind">{{data['wind_speed']|float|round(1)}} m/s</span>
                                </div>
                                <p>Tốc độ gió</p>
                            </div>
                        </td>
                        <td>
                            <div class="icon">
                                <img src="static/images/rain.png" alt="">
                            </div>
                            <div class="attribute">
                                <div>
                                    <span class="predict_rain">{{data['rain_prob']|float|round(2)}} %</span>
                                </div>
                                <p>Khả năng mưa</p>
                            </div>
                        </td>
                    </tr>
                    <!-- hàng 2 -->
                    <tr>
                        <td>
                            <div class="icon">
                                <img src="static/images/humidity.png" alt="">
                            </div>
                            <div class="attribute">
                                <div>
                                    <span class="humidity">{{data['humidity']|float|round(1)}} %</span>
                                </div>
                                <p>Độ ẩm</p>
                            </div>
                        </td>
                        <td>
                            <div class="icon">
                                <img src="static/images/pressure.png" alt="">
                            </div>
                            <div class="attribute">
                                <div>
                                    <span class="pressure">{{data['pressure']|float|round(1)}} hPa</span>
                                </div>
                                <p>Áp suất</p>
                            </div>
                        </td>
                    </tr>
                </table>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="static/js/days.js"></script>
</body>
</html>